.auth__main {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(16, 0, 255);
  background: linear-gradient(
    180deg,
    rgba(16, 0, 255, 1) 0%,
    rgba(0, 202, 255, 1) 100%
  );
  margin: 0px;
  height: 100vh;
  width: 100vw;
}

.auth__box-container {
  background-color: #fff;
  box-shadow: 0px 3px $dark-grey;
  border-radius: 10px;
  padding: 20px;
  width: 300px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.auth__title {
  color: rgba(16, 0, 255, 1);
  margin-bottom: 20px;
  font-size: 22px;
}

.new-acc {
  margin-left: 80px;
}

.login-p {
  font-size: 14px;
  margin-bottom: 10px;
}

.auth__input {
  color: $dark-grey;
  border: none;
  font-size: 16px;
  margin-bottom: 10px;
  height: 30px;
  border-radius: 5px;
  width: 100%;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  transition: border-bottom 0.3s ease;
  margin-bottom: 20px;
  outline: none;
  padding-left: 0.5em;
  &:focus {
    outline: none;
  }
}

.auth__social-networks {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
}

.auth__alert-error {
  background-color: white;
  border-radius: 5px;
  color: red;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  padding: 5px;
}

.auth__loading-screen {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(16, 0, 255);
  background: linear-gradient(
    180deg,
    rgba(16, 0, 255, 1) 0%,
    rgba(0, 202, 255, 1) 100%
  );
  height: 100vh;
  width: 100%;
  color: white;
}
