.btn {
  background-color: transparent;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 12px;
  padding: 7px 10px 7px 10px;

  transition: color 300ms ease;

  &:focus {
    outline: none;
  }

  &:hover {
    color: darken($color: white, $amount: 10);
  }
}

.btn-primary {
  background-color: white;
  color: rgba(16, 0, 255, 1);
  border: 1px solid rgba(16, 0, 255, 1);
  border-radius: 5px;
  height: 35px;
  font-size: 16px;

  &:disabled {
    background-color: rgba(16, 0, 255, 1);
    color: white;
  }
  &:hover {
    background-color: rgba(16, 0, 255, 1);
    color: white;
  }
}

.btn-danger {
  background-color: white;
  font-size: 0.9em;
  padding: 0.8em 1em;
  align-self: center;
  margin-bottom: 10px;
  border-radius: 10px;
  transition: all 300ms ease;
  border: 1px solid red;
  color: red;

  &:hover {
    background-color: red;
    color: #fff;
  }
}

.btn-block {
  width: 100%;
}

.google-btn {
  cursor: pointer;
  width: 100%;
  height: 35px;
  background-color: $google-blue;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-weight: lighter;
  border: 1px solid $google-blue;

  &:hover {
    background-color: #fff;
    color: $google-blue;
  }
  &:active {
    background-color: #fff;
    color: $google-blue;
  }
}
