.journal__main-content {
  display: flex;
}

.journal__sidebar {
  background-color: #171c28;
  color: #fff;
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding-left: 10px;
  padding-right: 10px;
  width: 450px;
}

.logout {
  font-size: 14px;
  margin-top: 10px;
}

.journal__sidebar-navbar {
  display: flex;
  justify-content: space-between;
}

.journal__sidebar-navbar h3 {
  font-weight: lighter;
}

.journal__new-entry {
  align-items: center;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 30px;
  width: 100%;
  transition: color 300ms ease;

  &:hover {
    color: darken($color: white, $amount: 20);
  }
}

.journal__entries {
  margin-top: 40px;
  flex: 1 1 auto;
  overflow: scroll;
  &::-webkit-scrollbar {
    width: 2px;
    background: transparent;
  }
  flex-direction: column;
  display: flex;
  align-items: center;
}

.journal__entry {
  background-color: #fff;
  border-radius: 4px;
  color: $dark-grey;
  display: flex;
  height: 50px;
  margin-bottom: 10px;
  overflow: hidden;
  width: 90%;
  justify-content: space-between;
  transition: transform 300ms ease;
}

.journal__entry:hover {
  transform: scale(1.06);
}

.journal__entry-body {
  padding: 10px;
}

.journal__entry-title {
  font-size: 14px;
  font-weight: bold;
}

.journal__entry-content {
  font-size: 10px;
}

.journal__entry-date-box {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5px;
}

.journal__entry-date-box span {
  font-size: 12px;
}
